body {
background-color: black;
}

/* Top title page */
p.title {
color: DodgerBlue;
font-family: Ultra;
font-size: 50px;
text-align: center;
}

p.tabs {
border-style: solid;
border-color: white;
border-radius: 8px;
text-align: center;
}

a {
color: white;
font-family: Georgia,Serif;
font-size: 20px;
}

/* end of title */

p.cm {
color: white;
font-family: Georgia,Serif;
font-size: 20px;
border-style: solid;
border-color: white;
border-radius: 12px;
}

p.ct {
color: white;
font-family: Georgia,Serif;
font-size: 20px;
}

@font-face { font-family: Ultra; src: url('/fonts/Ultra.otf'); } 
