body {
background-color: black;
}

/* Top title page */
p.title {
color: DodgerBlue;
font-family: Ultra;
font-size: 50px;
text-align: center;
}

p.tabs {
border-style: solid;
border-color: white;
border-radius: 8px;
text-align: center;
}

a {
color: white;
font-family: Georgia,Serif;
font-size: 20px;
}

/* end of title */

p.cm {
color: white;
font-family: Georgia,Serif;
font-size: 20px;
border-style: solid;
border-color: white;
border-radius: 12px;
}



@font-face { font-family: Ultra; src: url('/fonts/Ultra.otf'); } 

/*hover*/
.dropbtn {
    background-color: #00ccff;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}


/* share */
#share-buttons img {
width: 35px;
padding: 5px;
border: 0;
box-shadow: 0;
display: inline;
}
