body {
background-color: black
background-image: url("/images/lightning.png");
background-repeat: repeat-ysc;
}

/* Top title page */
p.title {
color: DodgerBlue;
font-family: Georgia,Serif;
font-size: 50px;
text-align: center;
}

p.tabs {
border-style: solid;
border-color: white;
border-radius: 8px;
text-align: center;
}

a {
color: white;
font-family: Georgia,Serif;
font-size: 20px;
}

/* end of title */

p.videos {
  text-align: center;
}

