body {
background-color: black;
/*background-image: url("/images/BG.png");*/
/*background-repeat: repeat-x;*/
}

/* Top title page */
p.title {
color: DodgerBlue;
font-family: Ultra;
font-size: 50px;
text-align: center;
}

p.tabs {
border-style: solid;
border-color: white;
border-radius: 8px;
text-align: center;
}

a {
color: white;
font-family: Georgia,Serif;
font-size: 20px;
}

/* end of title */

p.videos {
  text-align: center;
}

@font-face { font-family: Ultra; src: url('/fonts/Ultra.otf'); } 

/*pagination*/
.pagination {
    display: inline-block;
}

.pagination a {
    color: white;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}

.pagination a.active {
    background-color: #00ccff;
    color: white;
}

.pagination a:hover:not(.active) {background-color: #00001a;}

/* share */
#share-buttons img {
width: 35px;
padding: 5px;
border: 0;
box-shadow: 0;
display: inline;
}
